.page-404-wrapper {
  display: flex;
  max-width: 1228px;
  margin: auto;
}
.page-404-wrapper .left-side-image-container {
  height: auto;
}
.page-404-wrapper .left-side-image-container img {
  width: 540px;
}
.page-404-wrapper .feature-details .heading-404 {
  font-size: 64px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: -3.5%;
  font-family: monospace;
}
.page-404-wrapper .feature-details .page-404-info {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -3.5%;
  line-height: 35px;
  font-family: monospace;
}
.page-404-wrapper .feature-details .back-to-homepage-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -3.5%;
  font-family: monospace;
  padding: 23px 43px;
  background-color: #333333;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 575px) {
  .page-404-wrapper {
    display: flex;
    flex-direction: column;
  }
  .page-404-wrapper .left-side-image-container img {
    width: 100%;
    float: left;
  }
  .page-404-wrapper .feature-details {
    text-align: left;
  }
  .page-404-wrapper .feature-details .heading-404 {
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    margin: 60px 0px 30px 0px;
  }
  .page-404-wrapper .feature-details .page-404-info {
    font-size: 18px;
    line-height: 26px;
  }
  .page-404-wrapper .feature-details .back-to-homepage-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -3.5%;
    padding: 23px 43px;
    margin-top: 60px;
  }
}
