.page-logo-wrapper {
  display: flex;
  justify-content: flex-start;
}

.page-logo-wrapper .logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -8%;
  font-family: Inconsolata;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .page-logo-wrapper .logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -8%;
    font-family: Inconsolata;
    text-transform: uppercase;
  }
}
